<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="style">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="jsfiles">
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/demo/datatables-demo.js"></script>
</th:block>
<th:block layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Deleted employees tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Position</th>
                        <th>Age</th>
                        <th>Birthday</th>
                        <th>Phone number</th>
                        <th>####</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.lastName}"></td>
                        <td th:text="${employee.position}"></td>
                        <td th:text="${employee.age}"></td>
                        <td th:text="${employee.birthday}"></td>
                        <td th:text="${employee.phone}"></td>
                        <td>
                            <a th:href="@{/employee/findOne/(id=${employee.id})}" class="btn btn-outline-info">Show</a>
                            <a th:href="@{/admin/employee/retake/(id=${employee.id})}" class="btn btn-outline-success"
                               onclick="return confirm('Are you sure you want to retake this employee?');">Retake</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>