<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<script src="../static/assets/bootstrap/formodal.js"></script>
<th:block layout:fragment="style">
</th:block>
<th:block layout:fragment="jsfiles">
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/demo/datatables-demo.js"></script>
    <script th:src="@{/assets/bootstrap/formodal.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add drug tables</h1>
    <button type="button" class="btn btn-outline-success nBtn">Add item:</button>
    <div class="container">
        <div class="card">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Drug name:</th>
                                <th>Drug code:</th>
                                <th>Drug cost:</th>
                                <th>Drug type:</th>
                                <th>Drug description:</th>
                                <th>####</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="drug : ${drugs}">
                                <td th:text="${drug.name}"></td>
                                <td th:text="${drug.code}"></td>
                                <td th:text="${drug.cost}"></td>
                                <td th:text="${drug.type}"></td>
                                <td th:text="${drug.description}"></td>
                                <td>
                                    <a th:href="@{/admin/find/drug/(id=${drug.id})}" class="btn btn-outline-warning dBtn">Update</a>
                                    <a th:href="@{/admin/delete/drug/(id=${drug.id})}" class="btn btn-outline-danger"
                                       onclick="return confirm('Are you sure you want to delete this drug?');">Delete</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="drugForm">
            <form th:href="@{/admin/save/drug}" method="post">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input id="id" hidden name="id"value=""/>
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="cost" class="col-form-label">Cost:</label>
                                    <input type="float" class="form-control" id="cost" name="cost" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">Type:</label>
                                    <input type="text" class="form-control" id="type" name="type" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Description:</label>
                                    <input type="text" class="form-control" id="description" name="description"
                                           value=""/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>
