<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="style">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="jsfiles">
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/demo/datatables-demo.js"></script>
    <script th:src="@{/assets/bootstrap/formodal.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Position</th>
                        <th>Age</th>
                        <th>Birthday</th>
                        <th>Phone number</th>
                        <th>####</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.lastName}"></td>
                        <td th:text="${employee.position}"></td>
                        <td th:text="${employee.age}"></td>
                        <td th:text="${employee.birthday}"></td>
                        <td th:text="${employee.phone}"></td>
                        <td>
                            <a th:href="@{/employee/edit/(id=${employee.id})}" class="btn btn-outline-warning">Update</a>
                            <a th:href="@{/employee/delete/(id=${employee.id})}" class="btn btn-outline-danger"
                               onclick="return confirm('Are you sure you want to delete this employee?');">Delete</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="myForm">
        <form th:href="@{/employee/edit}" method="post">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <fieldset>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit employee</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" value="" name="id" id="id">
                                <div class="form-group">
                                    <label for="firstName" class="col-form-label">First
                                        name:</label>
                                    <input type="text"
                                           value="" name="firstName"
                                           class="form-control" id="firstName">

                                    <label for="lastName" class="col-form-label">Last
                                        name:</label>
                                    <input type="text"
                                           value="" name="lastName"
                                           class="form-control" id="lastName">
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">User
                                        name:</label>
                                    <input type="text"
                                           value="" name="username"
                                           class="form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="password"
                                           class="col-form-label">Password:</label>
                                    <input type="password"
                                           value="" name="password"
                                           class="form-control" id="password">
                                </div>
                                <div class="form-group">
                                    <label for="age"
                                           class="col-form-label">Age:</label>
                                    <input type="number"
                                           value="" name="age"
                                           class="form-control" id="age">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-form-label">E mail:</label>
                                    <input type="email"
                                           value="" name="email"
                                           class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="birthday"
                                           class="col-form-label">Birthday:</label>
                                    <input type="date"

                                           class="form-control" id="birthday">
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-form-label">Phone
                                        number:</label>
                                    <input type="text"
                                           value="" name="phone"
                                           class="form-control" id="phone">
                                </div>
                                <div class="form-group">
                                    <label for="position"
                                           class="col-form-label">Position:</label>
                                    <input type="text"
                                           value="" name="position"
                                           class="form-control" id="position">
                                </div>
                                <div class="form-group">
                                    <label for="office"
                                           class="col-form-label">Office:</label>
                                    <input type="text"
                                           value="" name="office"
                                           class="form-control" id="office">
                                </div>
                                <div class="form-group">
                                    <label for="address"
                                           class="col-form-label">Address:</label>
                                    <input type="text"
                                           value="" name="address"
                                           class="form-control" id="address">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" value="save"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</th:block>
</html>