<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" id="registerForm" th:action="@{/employee/add}" th:object="${reqEmployee}"
                              method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" name="firstName" class="form-control form-control-user"
                                           id="exampleFirstName" th:field="*{firstName}" placeholder="First Name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                                          th:errors="*{firstName}"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="lastName" class="form-control form-control-user"
                                           id="exampleLastName" th:field="*{lastName}" placeholder="Last Name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                                          th:errors="*{lastName}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-user"
                                       id="exampleInputEmail" th:field="*{email}" placeholder="Email Address">
                                <span class="text-danger" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="number" name="age" class="form-control form-control-user"
                                           id="exampleAge" th:field="*{age}" placeholder="Age">
                                    <span class="text-danger" th:if="${#fields.hasErrors('age')}"
                                          th:errors="*{age}"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" name="phone" class="form-control form-control-user"
                                           id="examplePhone" th:field="*{phone}" placeholder="Phone Number">
                                    <span class="text-danger" th:if="${#fields.hasErrors('phone')}"
                                          th:errors="*{phone}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="address" class="form-control form-control-user"
                                       id="exampleInputAddress" th:field="*{address}" placeholder="Work Place Address">
                                <span class="text-danger" th:if="${#fields.hasErrors('address')}"
                                      th:errors="*{address}"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select placeholder="position" name="position" id="position" class="form-control form-control-user" th:field="*role">
                                        <option th:each="role : ${roles}" th:text="${role.role}" th:value="${role.id}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="date" name="birthday" class="form-control form-control-user"
                                           id="exampleOffice" th:field="*{birthday}" placeholder="birthday">
                                    <span class="text-danger" th:if="${#fields.hasErrors('birthday')}"
                                          th:errors="*{birthday}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="office" class="form-control form-control-user"
                                       id="exampleInputOffice" th:field="*{office}" placeholder="Enter Office Name">
                                <span class="text-danger" th:if="${#fields.hasErrors('office')}"
                                      th:errors="*{office}"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Next...</button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/assets/js/sb-admin-2.min.js"></script>
</body>

</html>
