<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="style">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Drug list page</h4>
    </div>
    <div class="container-fluid">
        <!-- Page Heading -->
        <form>
            <tbody>
            <tr th:each="drug: ${drugs}">
                <div class="row">
                    <!-- Border Bottom Utilities -->
                    <div class="col-lg-6">
                        <div class="card mb-4 py-3 border-bottom-success">
                            <div th:text="${drug.name}" class="card-body">
                            </div>
                            <input class="float-right" type="radio" name="drug" th:value="${drug.id}">
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </form>
    </div>
</th:block>
</html>